@model Biblioteca.Casa

<h2>Alta de Casa</h2>
<form asp-action="Alta" method="post">
    <div class="mb-3">
        <label for="Direccion" class="form-label">Dirección</label>
        <input asp-for="Direccion" class="form-control" />
        <span asp-validation-for="Direccion" class="text-danger"></span>
    </div>
    <div class="d-flex justify-content-center align-items-center gap-2 mt-3">
        <button type="submit" class="btn btn-brand btn-lg">Guardar </button>
        <a asp-action="Index" class="btn btn-outline-secondary">Volver <i class="bi bi-arrow-left"></i></a>
    </div>
</form>