@model IEnumerable<Biblioteca.Casa>

<h2>Listado de Casas</h2>
<a asp-action="Alta" class="btn btn-navy-violet">Agregar Casa</a>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Dirección</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var casa in Model)
        {
            <tr>
                <td>@casa.IdCasa</td>
                <td>@casa.Direccion</td>
                <td>
                    <a asp-action="Detalle" asp-route-id="@casa.IdCasa" class="btn btn-icon btn-icon-accent"> Detalle <i class="bi bi-card-text"></i></a>
                    <form asp-action="Eliminar" asp-route-id="@casa.IdCasa" method="post" class="d-inline ms-1">
                        <button type="submit" class="btn btn-icon btn-icon-danger">
                            <i class="bi bi-trash"></i>
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>